.events_div{
	margin-top:5%;
}
.event-box-text{
	margin-bottom: 50%;
	font-size:130%;
	margin-right: 5%;
	margin-left: 5%;

}
.event-content{
	color:black;
	padding:0%;
	width: 30%;
    min-height: 550px;
    background-color: rgba(255, 255, 255,1);
    border-radius: 5px;
	box-shadow:  10px 10px 20px rgba(0,0,0,0.6);
	margin-left: 30px;
	margin-top: 50px;
	margin-right: 10px;
	margin-bottom: 30px;

}
.cover_img{
background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
	width:100%;
	/*height:150px;*/
	border-radius: 5px 5px 0px 0px;
	padding:5% 1%;
}
.event_title{
	/*position:absolute;*/
	top:7%;
	font-size:350%;
	text-align:center;
	width:100%;
	font-family:Raleway;
	text-shadow: 0px 0px 2px #00303f;
	/*left:20%;*/
	color:#00303f;
}
.admin_desc{
	height:30%;
}
.admin_submit{
	margin-top:8%;
	background-color:white;
	font-size:200%;
	color: #0B3C5D;
	border:1px solid #0B3C5D;
	border-radius:5px;
	width:40%;
	height:10%;
	transition-duration:0.3s;
}
.admin_submit:hover{
background-color:#0B3C5D;
color: white;

}
.Attend-style{
	position:absolute;
	top:85%;
	width:90%;
	height:10%;
	left:5%;
	color:#328CC1;
	text-decoration: bold;
	font-size: 200%;
	background-color:white;
	border-radius:5px;
	border: 2px solid #328CC1;
	transition-duration:0.2s;
}
.Attend-style:hover{
	color:white;
	background-color:#328CC1;
}


.Attendees-style{
	position:absolute;
	top:73%;
	width:90%;
	height:10%;
	left:5%;
	color:#1D2731;
	text-decoration: bold;
	font-size: 200%;
	background-color:white;
	border-radius:5px;
	border: 2px solid #1D2731;
	transition-duration:0.2s;
}
.Attendees-style:hover{
	color:white;
	background-color:#1D2731;
}


.Date-style{
  color:#0B3C5D;
  font-size:170%;
  margin-top: 2%;
  text-decoration: bold;
}

.modal-dialog, .modal-content{
	background-color: transparent;

}
.modal-body{
	border-radius:20px;
	background-color: rgba(50,140,193,1);
	color:white;
}
.attend_false{
	padding-top:2%;
	position:absolute;
	top:85%;
	width:90%;
	height:10%;
	left:5%;
	text-decoration: bold;
	font-size: 200%;
	background-color:white;
	border-radius:5px;
	transition-duration:0.2s;
	border:1px solid rgb(255,40,0);
	color:rgb(255,40,0);
}
.attend_false:hover{
	background-color:rgb(255,40,0);
	color:white;
}
.attendee_name{
	color:white;
	font-size:200%;
	transition-duration:0.2s;
}
.attendee_name:hover{
	color:white;
	transform: translateY(-3px);
}
.fade2 {
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s linear;
}

.fade2.show {
    opacity: 1;
    transform: scale(1);
}
