#home_img{
	width: 100%;
}
.message-block{
     background: rgba(255,255,255,0.80);
      box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.10);
      padding: 30px 40px 55px 60px;
      position: absolute;
      bottom: 0;
      margin-bottom: 90px;
      max-width: 48%;
      }
.bg{
      background-image: linear-gradient(-180deg,rgba(212, 116, 48, 0.59) 0,rgba(25, 17, 39, 0) 71%);
  }
  