<template name="CatalogueLayout">
  <link rel="stylesheet" href="/css/catalogue.css">
  <div class="container">
  <p class="title text-center"><b>Catalogue</b></p>
  <p class="subtitle text-center"><em>Upload your lorum ipsum stuff</em></p>
  {{#if currentUser}}
  <div class="col-xs-4 upload center-block">
    {{> uploadForm}}
  </div>
  {{/if}}
  {{#each showPics}}
    <div class="text-center center-block col-xs-4">
      <p><h2>{{info.title}}</h2></p>
      <img style="width:200px" src="{{fileURL info}}" alt="{{info.name}}">
      <a class="remove">Remove this pic</a>
    </div>
  {{/each}}
</div>
</template>
