<template name="EventsAnnouncementsLayout">
  <h1>Events/Announcements</h1>
  {{#if userAdmin}}
  <h1>Create Event</h1>
  <form class="createEvent">
    <h2>Event Name</h2><input class="form-control" type="text" name="title">
    <h2>Description</h2><input class="form-control" type="text" name="text">
    <h2>Date</h2><input class="form-control" type="date" name="date">

    <button class="btn btn-success" type="submit">Submit</button>
  </form>

<div class="approve_box">
  <h1>Approve Suggested Events</h1>

</div>


  <h1>Post Announcement</h1>

  <form class="createAnnouncement">
    <h2>Title</h2><input class="form-control" type="text" name="title">
    <h2>Description</h2><input class="form-control" type="text" name="text">

    <button class="btn btn-success" type="submit">Submit</button>
  </form>

  {{else}}
    {{#if currentUser}}
      <h1>Suggest an Event</h1>
      <form class="suggestEvent">
        <h2>Event Name</h2><input class="form-control" type="text" name="title">
        <h2>Description</h2><input class="form-control" type="text" name="text">
        <h2>Date</h2><input class="form-control" type="date" name="date">

        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    {{/if}}
  {{/if}}


  {{#each events}}
  <div class="center-block text-center" style="border: 1px solid rgba(0,0,0,0.6)">
    <h1>{{name}}</h1><br>
    <h3>{{description}}</h3><br>
    <h3>Date:{{date}}</h3><br>
    <p>Look who's attending:</p>
      {{#each attendees}}
        <h2>{{showName this}}</h2><br>
      {{/each}}
      {{#if currentUser}}
        <h3><a class="attend atend_style">Attend this event!</a></h3><br>
      {{else}}
        <h3><a class="attend_style" data-toggle="modal" href="#attend_modal">Attend this event!</a></h3><br>
      {{/if}}
    {{#if userAdmin}}
      <h3><a class="delete">Delete event</a></h3>
    {{/if}}
    <hr>
  </div>
  {{/each}}
  {{> attend_event}}
</template>
