<template name="EventsAnnouncementsLayout">
<div class="events_div">
<!--   <h1>Events/Announcements</h1> -->
  {{#if userAdmin}}
  <h1>Create Event</h1>
  <form class="createEvent">
    <h2>Event Name</h2><input class="form-control" type="text" name="title">
    <h2>Description</h2><input class="form-control" type="text" name="text">
    <h2>Date</h2><input class="form-control" type="date" name="date">

    <button class="btn btn-success" type="submit">Submit</button>
  </form>

<div class="approve_box">
  <h1>Approve Suggested Events</h1>

</div>


  <h1>Post Announcement</h1>

  <form class="createAnnouncement">
    <h2>Title</h2><input class="form-control" type="text" name="title">
    <h2>Description</h2><input class="form-control" type="text" name="text">

    <button class="btn btn-success" type="submit">Submit</button>
  </form>

  {{else}}
    {{#if currentUser}}
      <h1>Suggest an Event</h1>
      <form class="suggestEvent">
        <h2>Event Name</h2><input class="form-control" type="text" name="title">
        <h2>Description</h2><input class="form-control" type="text" name="text">
        <h2>Date</h2><input class="form-control" type="date" name="date">

        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    {{/if}}
  {{/if}}


  {{#each events}}
  <div class="col-xs-3 event-content text-center">
 <!--  <img src="/assets/img/event_texture.jpg" class="cover_img" alt="Ta5ayal 7aga 7elwa"> -->
 <div class="cover_img">
<b><p class="event_title">{{name}} bkaghdghefhh</p></b>
 </div>
  

  <div >
    <div class="Date-style">{{date.getDay}}/{{date.getMonth}}/{{date.getFullYear}}</div><br>
    <h3 class="text-center event-box-text">{{description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. lorem</h3><br>
   <button class="Attendees-style text-center" data-toggle="modal" href="#attend_modal">See who's going</button> 
      {{#each attendees}}
        <h2>{{showName this}}</h2><br>
      {{/each}}
      {{#if currentUser}}
      <a>Attend</a><br>
      {{else}}
      <button class="Attend-style text-center" data-toggle="modal" href="#attend_modal">Attend</button>  
      {{/if}}
    {{#if userAdmin}}
      <h3><a class="delete">Delete event</a></h3>
    {{/if}}
  </div>
  </div>
  {{/each}}
  {{> attend_event}}
</div>
</template>
