<template name="MainLayout">
<html>
  <head>
    <meta charset="utf-8">
    <title>DAV Alumni Whatever</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Spectral" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- CSS Imports -->
    <link rel="stylesheet" href="../../css/main.css">

    <!-- Script Imports -->
    <script type="text/javascript" src="/js/Main.js">

    </script>
  </head>
  <body>
    <div class="container-fluid">
    <main>
    <h2>
      <h5>
        {{#if currentUser}}
        <div class="profile_pic">
          <a href="/profile/{{currentUser._id}}">
          {{#if currentUser.profile.pic}}
            <img src="{{fileURL currentUser.profile.pic}}" style="width:7rem" alt="">
          {{else}}
            <img src="/assets/img/placeholder.png" alt="Placeholder profile pic" style="width:7rem">
          {{/if}}
          <p><h4>{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</h4></p>
          </a>
          <li><a href="#" class="logout">Logout</a></li>
        </div>
        {{else}}
          <a href="/register">Register</a><br>
          <a href="/login">Login</a><br>
        {{/if}}
      </h5>
      <hr>
      <div class="">
        <a class="col-xs-3 text-center navbar" href="/">Home</a>
        <a class="col-xs-3 text-center navbar" href="/events-announcements">Events and Announcements</a>
        <a class="col-xs-3 text-center navbar" href="/catalogue">Catalogue</a>
        <a class="col-xs-3 text-center navbar" href="/dav-wall">DAV Wall</a>
      </div>
    </h2>
      {{> Template.dynamic template=main}}
    </main>
  </div>
  </body>
</html>
</template>
