<template name="WallLayout">
  <link rel="stylesheet" href="/css/wall.css">
  <p class="text-center title">DAV Wall</p>
  {{#if currentUser}}
    {{> NewWallPost}}
  {{/if}}
  {{#each wallPosts}}
  <div style="margin-bottom:2%" class="wall_post">
    <h2>{{title}}</h2><br>
    <h4>{{text}}<br>
    <a href="/profile/{{poster_id}}">By: {{poster_id}}</a></h4>
    <br><br>
    {{#if sameUser}}
      <a class="delete">Delete Post</a>
    {{/if}}
    {{#if userAdmin}}
      <a class="delete">Delete Post</a>
    {{/if}}
    <hr>
  </div>
  {{/each}}
</template>
