<template name="WallLayout">
  <link rel="stylesheet" href="/css/wall.css">
  <p class="text-center title">DAV Wall</p>
  <p class="text-center subtitle"><em>Posts by the alumni to do whatever lorem ipsum man</em></p>
  {{#if currentUser}}
    {{> NewWallPost}}
  {{/if}}
  {{#each wallPosts}}
  <div style="margin-bottom:2%" class="wall_post">
    <h2 class="text-center"><b>{{title}}</b></h2><br>
    <div><em>{{text}}</em></div>
    <a href="/profile/{{poster_id}}">By: {{getName poster_id}}</a>
    <br><br>
    {{#if sameUser}}
      <a class="delete">Delete Post</a>
    {{/if}}
    {{#if userAdmin}}
      <a class="delete">Delete Post</a>
    {{/if}}
  </div>
  {{/each}}
</template>
