<template name="MainLayout">
  <header>
    <h1>DAV Alumni Whatever</h1>
    {{> loginButtons}}
  </header>
  <main>
  <h2>
    <h5>
      {{#if currentUser}}
      <li><h4><a href="/profile/{{currentUser._id}}">{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</a></h4></li>
        <li><a href="#" class="logout">Logout</a></li>
      {{else}}
        <a href="/register">Register</a><br>
        <a href="/login">Login</a><br>
      {{/if}}
      <!-- <a href="/login">Login</a> -->
    </h5>
    <hr>
    <a class="col-xs-3" href="/">Home</a><br>
    <a class="col-xs-3" href="/events-announcements">Events and Announcements</a><br>
    <a class="col-xs-3" href="/catalogue">Catalogue</a><br>
    <a class="col-xs-3" href="/dav-wall">DAV Wall</a><br>
  </h2>
    <h1>Below this is the new layout</h1><hr>
    {{> Template.dynamic template=main}}
  </main>
</template>
