<template name="NewWallPost">
  <div class="new-wall-post-container">
    <form class="wall_post">
      <h3 class="text-center">Insert new post</h3>
      <span><p class="form_text">Title</p> <input class="wall_form" style="height:40px;text-align:center" type="text" name="title"></span><br>
      <span><p class="form_text">Text</p> <textarea class="wall_form" name="text"></textarea></span>
      <button class="center-block submit_post" type="submit">Submit</button>
    </form>
  </div>
  <hr>
</template>
